.characterContainer {
    color: black;
    background-color: antiquewhite;
    max-width: 30%;
    min-height: 110px;
    max-height: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
}

.characterContainerTitleRow {
    width: 100%;
    height: 30px;
    top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 2px;
    flex: 0.3;
    border-bottom: 2px black solid;
}
.characterContainerTitleRow div {
    flex: 0.3;
}
.removeButtonContainer {
    display: inherit;
    align-items: start;
}

.characterContainerRemoveButton {
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.characterNameContainer {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    display: inherit;
}

.positionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    flex: 0.3;
}

.positionContainer button {
    margin-left: 2px;
    height: 30px;
    width: 100%;
}

.active {
    background-color: rgb(4, 214, 241);
}

.characterContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.7;
    padding-left: 2px;
    padding-right: 2px;
}

.characterTable {
    width: fit-content;
    height: 100%;
}

.hitpointText {
    cursor: pointer;
    width: 60px;
    background-color: aliceblue;
    color: black;
}

.hitpointInput {
    width: 60px;
}

.effectContainer {
    max-height: 100px;
    width: 50%;
    margin-top: 4px;
    overflow-y: scroll;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.effectContainer label {
    font-weight: bold;
}

.effectContainer ul {
    list-style: none;
    margin: 4px;
    font-weight: bold;
    font-size: 14px;
}

.effectListRemoveButton {
    width: 30px;
    font-weight: bold;
    background-color: brown;
    color: white;
    border-radius: 4px;
    border: solid 2px black;
    text-align: center;
}


.initiativeScoreText {
    cursor: pointer;
    width: 60px;
    background-color: aliceblue;
    color: black;
}

.initiativeScoreInput {
    width: 60px;
}

.characterInfoTableContainer {
    height: 100%;
}

@media only screen and (max-width: 600px){
    .characterContainer {
        max-width: none;
    }

    .effectContainer {
        max-height: 70px;
    }
}