.initiativeList {
    width: 85%;
    max-height: inherit;
    margin: 8px;
    border: beige 8px solid;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
    .initiativeList {
        width: 100%;
        margin: 2px;
        max-height: 70%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}