.app {
    background-color: black;
    color: antiquewhite;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controlSection {
    width: 30%;
    height: 100%;
    /* margin: 8px; */
}