.app {
    background-color: black;
    color: antiquewhite;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    max-height: 800px;
}

.controlSection {
    width: 10%;
    height: 100%;
    margin: 8px;
    border: aqua 8px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonArea {
    border: 2px aliceblue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonArea button {
    min-width: 100px;
    margin: 4px;
}

/* Need to add all phone views too*/