.characterContainer {
    color: black;
    background-color: antiquewhite;
    max-width: 200px;
    min-height: 60px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.characterContainerTitle {
    font-size: 18px;
    font-weight: 500;
}

.active {
    background-color: rgb(4, 214, 241);
}

.positionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}