footer {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 26px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media only screen and (max-width: 600px){
    footer {
        visibility: hidden;
        height: 0px;
    }
    footer h3 {
        visibility: hidden;
        height: 0px;
        font-size: 0px;
    }
}