@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@300;400;700&display=swap");
/* @import "tailwindcss"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

:root {
  background-color: black;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
